/* @import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap'); */

body {
  margin: 0;
  font-family: 'Aclonica', sans-serif;
  /* font-family: "Noto Serif", serif;
  font-family: "Open Sans", sans-serif; */
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}
li {
  float: right;

  text-align: center;
  padding: 14px 16px;
}
#about {
  margin-right: 150px;
}
#name,
#latest_project {
  color: rgb(241, 62, 8);
}

.btn {
  background-image: linear-gradient(to right, red, rgba(228, 3, 3, 0.808));
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  font-size: medium;
  color: white;
}
/* section_one_div  */
.section_one,
.section_two {
  width: 80%;
  height: 350px;
  margin: 0 10%;
}
.section_one_div,
.section_two_div {
  width: 40%;
  height: 300px;
  margin: 3%;
  padding: 2%;
  float: left;
}

.section_one_div_one {
  padding-top: 20px;
  font-size: 19px;
}
.section_two_div_two p {
  margin-right: 20px;
  text-align: justify;
  font-size: 19px;
}
.section_one_div_two img {
  width: 70%;
  height: auto;
}
.section_two_div_one img {
  width: 80%;
  height: auto;
}
.section_three {
  width: 100%;
  margin-top: 40vh;
  background: rgb(240, 240, 240);
  height: 600px;
}
#section_three_experience_title,
#section_four_experience_title {
  padding: 18px 10px;
  margin-left: 37vw;
}
.section_three_div,
.section_four_div {
  width: 25%;
  height: 80%;

  padding: 2%;
  background-color: white;
  margin: 2%;
  float: left;
  border-radius: 4px;
}
.section_three_experience_div,
.section_four_experience_div {
  width: 90%;
  margin: auto;
}
.section_three_div img {
  width: 100%;
  height: auto;
}

.section_four {
  width: 100%;
  margin-top: 3vh;
  background: rgba(49, 128, 248, 0.315);
  height: 370px;
}
.section_four_div_one p {
  padding: 15px 0;
  width: 95%;
  border-bottom: 5px solid rgb(10, 255, 2);
}
.section_four_div_two p {
  padding: 15px 0;
  width: 90%;
  border-bottom: 5px solid rgb(102, 255, 0);
}
.section_four_div_three p {
  padding: 15px 0;
  width: 85%;
  border-bottom: 5px solid rgb(179, 255, 0);
}

.section_five {
  width: 80%;
  height: 200px;
  margin: 10% 20%;
}
.section_five_items {
  background-image: url(shapes/shape-one.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 60% 70%;
  /* margin-left: auto; */
}

.section_five_items h1 {
  float: left;
  margin: 55px 15px;
}
.section_five_items button {
  float: left;
  margin: 55px 20vw;
}
.section_five_div_two_item {
  width: 60%;
  text-align: center;
  height: 50px;
}
.section_five_div_two_item img {
  height: 30px;
  width: 30px;
}
